
:root{
    --page-background-color:#FFFF;
    --page-colortext:#434455;
    --color-second:#2E2F42;
    --color-link:#4D5AE5;
    --color-shade: #F4F4FD;
    --color-activ:#404BBF;
    
} 
.list{
    list-style: none;
}
.link{
    text-decoration: none;
    color: var(--color-second);
    
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400 ;
    font-size: 16px;
    line-height: 1.5;
    color: var(--page-colortext);
    background-color:var(--page-background-color);
}
.logo {
    font-family:'Raleway';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.33;
    color:var(--color-second) ;
}
.logo-web{
    color:var(--color-link);
    text-transform: uppercase;
}
.menu-linl{
    color: var(--color-second);
}
.contakt-link{
    color: var(--page-colortext) ;
}
.menu-linl:hover,:focus,
.contakt-link:hover,:focus{
    color: var(--color-link)  ;
}
.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-transform: uppercase;
    /* color: white; */
}
.hero-but{
    font-family: inherit;
    background-color:var(--color-link);
    color:var(--page-background-color);
    font-size: 16px;
    line-height: 1.19;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.hero-but:hover,:focus
{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-but:active
{
    background:--color-activ ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.proposition-title{
    font-size: 20px;
    line-height: 1.2;

}
.title-section-img{
    font-size: 36px;
    line-height: 1.1;
}
.supimg{
    font-size: 20px;
    line-height: 1.2;
}
/* .foot-text{
    color: white;
} */
.portfoio-button{
    background-color:  var(--color-shade);
    color:var(--color-link) ;
    cursor: pointer;
    font-family: inherit;
    
}
.portfoio-button:hover,:focus{
    background-color:var(--color-link) ;
    color:var(--page-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;

}
.portfoio-button:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
h1{
    opacity: 1;
}